{% extends "base.html" %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Stuff</h1>
          <p>This is a stuff page. </p>
        </div>
      </div>

<div class="container">
    <a href="{% url "stuffs:create_stuff"%}" class="btn btn-outline-primary" role="button">
        create
    </a>
    <hr>
<div class="row">
    {% if stuffs %}
        {% for stuff in stuffs %}

    <div class="col-sm-4">
        <div class="card" style="width:20rem;">
            <h4 class="card-header">{{stuff.name}}</h4>

            <img {% if stuff.photo_main %} src="{{ stuff.photo_main.url }}" {% else %} src="https://picsum.photos/300/200" {% endif %} alt="pic" class="card-img-top">

            <div class="card-body">
                <h6 class="card-subtitle text-muted">type</h6>
                    {{stuff.type}} 
                <hr><h6 class="card-subtitle text-muted">missing days</h6>
                    {{stuff.missing_date}} 
                <hr>
                <h6 class="card-subtitle text-muted">location or district</h6>
                    {{stuff.location}} | {{stuff.district}} 
                <hr>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#stuff_detail{{stuff.id}}">
                    detail
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="stuff_detail{{stuff.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Description</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="white-space: pre-wrap;">{{stuff.description}}</div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                <hr>
                <a href="{% url 'stuffs:edit_stuff' stuff.id%}" class="btn btn-success" role="button">
                    edit
                </a>
                <button class="btn btn-danger" data-url="{%url 'stuffs:delete_stuff' stuff.id %}" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{stuff.id}}" >Delete</button>

            </div>
        </div><br>
    </div>
{% endfor %}
{% endif %}
</div>

        <div class="modal fade" id="deleteConfirmModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete </h5>
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                </div>
                <!--modal body-->
                <div class="modal-body">
                    <p>Are you sure youm want to delete this ?</p>
                    <a href="" class="btn btn-danger" id="confirmDeleteBtn">Yes</a>
                    <button class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>
  

    {% if stuffs %}
        <div class="col-md-12">
            <ul class="pagination">
                {% if stuffs.has_previous %}
                <li class="page-item">
                    <a  class="page-link" href="?page={{stuffs.previous_page_number}}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                {% endif %}
                {% for i in stuffs.paginator.page_range %}
                {% if i == stuffs.number %}
                <li class="page-item">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if stuffs.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{stuffs.next_page_number}}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
        </div>
</div>

{% endblock %}