{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><span class="material-symbols-outlined" style="font-size: 55px;">article_person</span> Your Post</h1>
        <p>This is a Post page. you can select and manage your post</p>
    </div>
</div>


    <div class="container">

    {% if user.is_authenticated %}
    <a href={% url "posts:create_post" %} class="btn btn-primary font-weight-bold" role="button">
        <span class="material-symbols-outlined align-middle fs-6">post_add</span> Create
    </a>
    {% endif %}

    <hr>
    <div class="row">
        {% if postss %}
        {% for post in postss %}

        <div class="col-sm-4">
            <div class="card" style="width:20rem;">

                <h4 class="card-header">{{post.title}}</h4>
                <img {% if post.stuff.photo_main %} src="{{ post.stuff.photo_main.url }}" {% else %} src='{% static "img/img.jpg" %}' {% endif %} alt="pic" class="card-img-top">

                <div class="card-body">
                    
                    <h6 class="card-subtitle text-primary "><span class="material-symbols-outlined align-middle fs-6">account_circle</span> User name</h6>
                    {{post.user.username}} 
                    <hr>
                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">date_range</span> Issue date</h6>
                    {{post.issue_date}} 
                    <hr>
                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">date_range</span> Due date</h6>
                    {{post.due_date}} 
                    <hr>
                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">date_range</span> Missing date</h6>
                    {{post.stuff.missing_date}} 
                    <hr>

                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">box</span> Stuff Name</h6>
                    {{post.stuff.name}} 
                    <hr>

                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">article</span> Post type</h6>
                    {{post.type}} 
                    <hr>
                    <h6 class="{{post.user.username}} card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">box</span> Stuff type</h6>
                    {{post.stuff.type}} 
                    <hr>
                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined align-middle fs-6">clock_loader_20</span> Status</h6>
                    {{post.status}} 
                    <hr>
                    <h6 class="card-subtitle text-primary"><span class="material-symbols-outlined ">payments</span> Reward</h6>
                    {% if post.reward %} ✅  {% else %}  ❌  {% endif %}
                    <hr>

                    <a href="{% url 'posts:post_detail' post.id %}" class="btn btn-outline-info font-weight-bold" role="button" aria-pressed="true">
                            View Detail
                    </a>

                    <hr>
                    <a href="{% url 'posts:edit_post' post.id%}" class="btn btn-success font-weight-bold" role="button">
                        <span class="material-symbols-outlined align-middle fs-6">edit</span> Edit
                    </a>
                    <button class="btn btn-danger font-weight-bold" data-url="{%url 'posts:delete_post' post.id %}" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{post.id}}" ><span class="material-symbols-outlined align-middle fs-6">delete</span> Delete</button>

                </div>
            </div>       
        </div>
        {% endfor %}
    {% endif %}
    </div>

        <div class="modal fade" id="deleteConfirmModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete </h5>
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                </div>
                <!--modal body-->
                <div class="modal-body">
                    <p>Are you sure youm want to delete this ?</p>
                    <a href="" class="btn btn-danger" id="confirmDeleteBtn">Yes</a>
                    <button class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>

        <br>

    {% if postss %}
        <div class="col-md-12">
            <ul class="pagination">
                {% if postss.has_previous %}
                <li class="page-item">
                    <a  class="page-link" href="?page={{postss.previous_page_number}}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                {% endif %}
                {% for i in postss.paginator.page_range %}
                {% if i == postss.number %}
                <li class="page-item">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if postss.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{postss.next_page_number}}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
                {% endif %}
            </ul>
    {% endif %}
        </div>
</div>
{% endblock %}