<nav class="navbar navbar-expand-md navbar-light bg-light mb-4 shadow-sm">
        
        <a href="{% url 'pages:index' %}" class="navbar-brand d-flex align-items-center">
            <span class="material-symbols-outlined mr-2" style="font-size: 36px;">category_search</span>
            <span class="font-weight-bold">Lost & Found</span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto align-items-center">
                
                <li class="nav-item dropdown {% if '/posts/' in request.path %}active{% endif %}">
                    <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" id="postDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="material-symbols-outlined mr-1 fs-6">article</span> Post
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="postDropdown">
                        <a href="{% url 'posts:post' %}" class="dropdown-item">All Posts</a>
                        <div class="dropdown-divider"></div>
                        <a href="{% url 'posts:missing' %}" class="dropdown-item">Missing</a>
                        <a href="{% url 'posts:discover' %}" class="dropdown-item">Discover</a>
                    </div>
                </li>

                {% if user.is_authenticated %}
                    <li class="nav-item {% if '/stuffs/' in request.path %}active {% endif %} ">
                        <a href="{% url 'stuffs:stuff' %}" class="nav-link d-flex align-items-center">
                            <span class="material-symbols-outlined mr-1 fs-6">inventory_2</span> Stuff
                        </a>
                    </li>

                    <li class="nav-item {% if '/comments/comment' in request.path %}active{% endif %}">
                        <a href="{% url 'comments:comment' %}" class="nav-link d-flex align-items-center">
                            <span class="material-symbols-outlined mr-1 fs-6">comment</span> Comment
                        </a>
                    </li>

                    
                    <li class="nav-item {% if '/feedbacks/feedback' in request.path %}active{% endif %}">
                        <a href="{% url 'feedbacks:feedback' %}" class="nav-link d-flex align-items-center">
                            <span class="material-symbols-outlined mr-1 fs-6">feedback</span> Feedback
                        </a>
                    </li>
                  

                    <li class="nav-item {% if '/accounts/dashboard' in request.path %}active {% endif %}">
                        <a href="{% url 'accounts:dashboard' %}" class="nav-link d-flex align-items-center">
                            <span class="material-symbols-outlined mr-1 fs-6">account_circle</span> {{ user.username }}
                        </a>
                    </li>


                    <li class="nav-item ml-md-2">
                        <a class="nav-link text-danger d-flex align-items-center" href="javascript:{document.getElementById('logout').submit()}">
                            <span class="material-symbols-outlined mr-1 fs-6">logout</span> Logout
                        </a>
                        <form action="{% url 'accounts:logout' %}" method="POST" id="logout" style="display:none;">
                            {% csrf_token %}
                        </form>
                    </li>

                {% else %}
                    <li class="nav-item {% if '/accounts/register' in request.path %}active{% endif %}">
                        <a href="{% url 'accounts:register' %}" class="nav-link d-flex align-items-center">
                            <span class="material-symbols-outlined mr-1 fs-6">person_add</span> Register
                        </a>
                    </li>

                    <li class="nav-item {% if '/accounts/login' in request.path %}active{% endif %}">
                        <a href="{% url 'accounts:login' %}" class="nav-link d-flex align-items-center">
                            <span class="material-symbols-outlined mr-1 fs-6">login</span> Login
                        </a>
                    </li>
                {% endif %}

            </ul>
        </div>
</nav>