{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block content %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><span class="material-symbols-outlined align-middle fs-6" style="font-size: 55px;">emoji_people</span> Welcome !</h1>
        <h3>{{ user.username }}  </h3>
    </div>
</div>

<div class="container">
    <h2 class="text-primary">Personal info <span class="material-symbols-outlined align-middle fs-6">account_circle</span></h2>
    <hr>
    <div class="row">
       <div class="col-4 text"><span class="material-symbols-outlined align-middle fs-6">people</span> User Name</div>
            <div class="col-6"> {{ user.username }} </div>
        </div>
    <hr>
    <div class="row">
       <div class="col-4 text"><span class="material-symbols-outlined align-middle fs-6">badge</span> First Name </div>
        <div class="col-6"> {{ user.first_name }} </div>
    </div>
    <hr>
    <div class="row">
       <div class="col-4"><span class="material-symbols-outlined align-middle fs-6">badge</span> Last Name </div>
        <div class="col-6"> {{ user.last_name }} </div>
    </div>
    <hr>
    <div class="row">
       <div class="col-4"><span class="material-symbols-outlined align-middle fs-6">mail</span> Your Email </div>
        <div class="col-6"> {{ user.email }}  </div>
    </div>
    <hr>
    <div class="row">
        <a href="{% url 'accounts:change_user_info' %}" class="btn btn-success  font-weight-bold" role="button">
            <span class="material-symbols-outlined align-middle fs-6">person_edit</span> Change Your Info
        </a>
    </div>
    <hr>
</div>

{% endblock %}