{% extends "base.html" %}
{% block content %}
{% load static %}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-3"><span class="material-symbols-outlined" style="font-size: 55px;">comment</span> Comment</h1>
        <p>This is a Comment page. you can select and manage your comment</p>
    </div>
</div>

<div class="container">

        <table class="table table-hover" >
        <thead>
            <tr>
            <th scope="col">Post</th>
            <th scope="col">Content</th>
            <th scope="col">View</th>
            <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
        {% if comments %}
        {% for comment in comments %}
            <tr>
                <td ><div class=" d-inline-block text-truncate" style="max-width: 200px;">{{comment.post}}</div></td>
                <td><div class=" d-inline-block text-truncate" style="max-width: 650px;">{{comment.content}}</div></td>
                <td>
                    <a href="{% url 'posts:post_detail' comment.post.id %}" class="btn btn-outline-info font-weight-bold" role="button" aria-pressed="true">
                    View Detail
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger font-weight-bold" data-url="{%url 'comments:delete_comment' comment.id %}" data-toggle="modal" data-target="#deleteConfirmModal" data-id="{{post.id}}" ><span class="material-symbols-outlined align-middle fs-6">delete</span> Delete
                    </button>
                </td>
            </tr>
        {% endfor %}
        {% endif %}
        </table>

        <div class="modal fade" id="deleteConfirmModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalLabel">Confirm Delete </h5>
                    <button class="close" type="button" data-dismiss="modal">&times;</button>
                </div>
                <!--modal body-->
                <div class="modal-body">
                    <p>Are you sure youm want to delete this ?</p>
                    <a href="" class="btn btn-danger" id="confirmDeleteBtn">Yes</a>
                    <button class="btn btn-info" data-dismiss="modal">Cancel</button>
                </div>
                </div>
            </div>
        </div>

        {% if comments %}
        <div class="col-md-12">
            <ul class="pagination">
                {% if comments.has_previous %}
                <li class="page-item">
                    <a  class="page-link" href="?page={{comments.previous_page_number}}">&laquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&laquo;</a>
                </li>
                {% endif %}
                {% for i in comments.paginator.page_range %}
                {% if i == comments.number %}
                <li class="page-item">
                    <a class="page-link">{{i}}</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="?page={{i}}">{{i}}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if comments.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{comments.next_page_number}}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item">
                    <a class="page-link" href="#">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
        </div>

</div>

{% endblock %}
